body{
    background: #1e1e2f;
    font-family: 'Noto Sans TC', sans-serif;
}
.card-body{
    color: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 0.35rem;
    height: 0.35rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.navbar .navbar-brand {
    position: fixed;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    color: #fff;
    margin-left: 17px;
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 1rem;
}
.inactive {
    display: none !important;
  }

.thread-btn{
margin: 1rem;
  }
.card{
    background: #27293d;
    margin-bottom: 3rem;
}
.card .card-header .card-category {
    color: #9a9a9a;
    margin-bottom: 5px;
    font-weight: 300;
    font-family: 'Noto Sans TC', sans-serif;

}
.card .card-title {
    margin-bottom: .75rem;
    font-family: 'Noto Sans TC', sans-serif;

}
.card .card-header {
    padding: 15px 15px 0;
    border: 0;
    color: hsla(0,0%,100%,.8);
}

.card .card-header .card-title {
    color: #fff;
    font-weight: 100;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.modal{
    color: slategrey;
}
