<!DOCTYPE html>
<html class="perfect-scrollbar-on" >
    <head>
        <title>Dashboard</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500&display=swap" rel="stylesheet">
        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" ></script>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/dashboard-style.css' %}"/>
        <script src="{% static 'js/dashboard/dashboard.js' %}" defer></script>

    </head>
    <body>
        <!-- Modal -->
        <div class="modal fade" id="addNewthread" tabindex="-1" role="dialog" aria-labelledby="addNewthreadLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h3 class="modal-title" id="addNewthreadLabel" >管理排程工作</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <form action="" method="">
                    <div class="modal-body">
                            <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="newthread-URL">種子網站URL</label>
                                <input type="url" class="form-control" name="newthread-URL" value="https://tw.news.yahoo.com/" id="URL">
                            </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="newthread-level">爬取深度</label>
                                    <input type="number" class="form-control" name="newthread-level" value="6" id="Level">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="newthread-level">爬取速度(等待X秒)</label>
                                    <input type="number" step="0.01" class="form-control" name="newthread-wait" value="0.5" id="Wait">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="newthread-num">第N值行續(MAX:4)</label>
                                    <input type="number" class="form-control" name="newthread-num" value="1" id="Num">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="newthread-state">運行狀態</label>
                                    <select id="newthread-state" name="newthread-state" class="form-control">
                                        <option selected>run</option>
                                        <option>delete</option>
                                    </select>
                                </div>
                            </div>
                            <input class="inactive" name='csrfmiddlewaretoken' id='csrfmiddlewaretoken'>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id='addwork'>新增工作</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
                <!-- Image and text -->
        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent" style="height:4rem">
            <a class="navbar-brand" href="#">
            Dashboard
            </a>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-12" id="main-console">
                    <div class="card card-chart">
                        <div class="card-header ">
                          <div class="row">
                            <div class="col-sm-6 text-left">
                              <h5 class="card-category">爬蟲工作</h5>
                              <h2 class="card-title">主控台</h2>
                            </div>
                            <div class="col-sm-6">
                                <script>
                                    $(function(){
                                        $("input[name='options']").change(function(){
                                            var s = $("input[name='options']:checked").val();
                                            if(s==1){
                                                document.querySelector('#main-console-screen').classList.remove('inactive');
                                                document.querySelector('#schedule-screen').classList.add('inactive');
                                                document.querySelector('#IP-control-screen').classList.add('inactive');
                                            }
                                            else if(s==2){
                                                document.querySelector('#main-console-screen').classList.add('inactive');
                                                document.querySelector('#schedule-screen').classList.remove('inactive');
                                                document.querySelector('#IP-control-screen').classList.add('inactive');
                                            }
                                            else if(s==3){
                                                document.querySelector('#main-console-screen').classList.add('inactive');
                                                document.querySelector('#schedule-screen').classList.add('inactive');
                                                document.querySelector('#IP-control-screen').classList.remove('inactive');
                                            } 
                                        });
                                    })
                                </script>
                                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                    <label class="btn btn-sm btn-primary btn-simple active">
                                        <input type="radio" name="options" id="option1" value="1" autocomplete="off" checked>
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">控制</span>
                                        <span class="d-block d-sm-none">
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple">
                                        <input type="radio" name="options" id="option2" value="2" autocomplete="off">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">黑名單</span>
                                        <span class="d-block d-sm-none">
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple">
                                        <input type="radio" name="options" id="option3" value="3" autocomplete="off">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">IP控制</span>
                                        <span class="d-block d-sm-none">
                                    </label>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-body main-ctrl " id="main-console-screen">
                            <div class="row">
                                <div class="col-3">
                                    <button class="btn btn-outline-primary btn-lg " data-toggle="modal" data-target="#addNewthread" >管理排程工作</button>
                                </div>
                                <div class="col-9">
                                    <table class="table table-bordered table-dark" style='word-break:break-all'>
                                        <thead>
                                          <tr>
                                            <th scope="col">thread#</th>
                                            <th scope="col">operatingStatus</th>
                                            <th scope="col">seedUrl</th>
                                            <th scope="col">level</th>
                                            <th scope="col">waitTime</th>

                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td class='operating-status' id='operating-status-1'></td>
                                            <td class='seed-url' id='seed-url-1'></td>
                                            <td class='level' id='level-1'></td>
                                            <td class='wait-time' id='wait-time-1'></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2</th>
                                            <td class='operating-status' id='operating-status-2'></td>
                                            <td class='seed-url' id='seed-url-2'></td>
                                            <td class='level' id='level-2'></td>
                                            <td class='wait-time' id='wait-time-2'></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">3</th>
                                            <td class='operating-status' id='operating-status-3'></td>
                                            <td class='seed-url' id='seed-url-3'></td>
                                            <td class='level' id='level-3'></td>
                                            <td class='wait-time' id='wait-time-3'></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">4</th>
                                            <td class='operating-status' id='operating-status-4'></td>
                                            <td class='seed-url' id='seed-url-4'></td>
                                            <td class='level' id='level-4'></td>
                                            <td class='wait-time' id='wait-time-4'></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>

                            </div>
                        </div>
                        <div class="card-body main-ctrl inactive" id="schedule-screen" >
                            2
                        </div>
                        <div class="card-body main-ctrl inactive" id="IP-control-screen">
                            3
                        </div>

                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12" id="thread-console-1" >
                    <div class="card card-chart">
                        <div class="card-header ">
                          <div class="row">
                            <div class="col-sm-6 text-left">
                                <h7 class="card-category">工作檢視</h5>
                                <h4 class="card-title">執行續1</h2>
                            </div>
                            <div class="col-sm-6">
                                <script>
                                    $(function(){
                                        $("input[name='threadcon1']").change(function(){
                                            var s = $("input[name='threadcon1']:checked").val();
                                            if(s==1){
                                                document.querySelector('#thread-1-1').classList.remove('inactive');
                                                document.querySelector('#thread-1-2').classList.add('inactive');
                                            }
                                            else if(s==2){
                                                document.querySelector('#thread-1-1').classList.add('inactive');
                                                document.querySelector('#thread-1-2').classList.remove('inactive');
                                            }
                                        });
                                    })
                                </script>
                                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                    <label class="btn btn-sm btn-primary btn-simple active">
                                        <input type="radio" name="threadcon1" id="threadcon-1" value="1" autocomplete="off" checked>
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">狀態</span>
                                        <span class="d-block d-sm-none">
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple">
                                        <input type="radio" name="threadcon1" id="threadcon-1" value="2" autocomplete="off">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">排程</span>
                                        <span class="d-block d-sm-none">
                                    </label>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-body main-ctrl " id="thread-1-screen" style=" overflow-x:auto;">
                            <div class="row" >
                                <div class="col-12 " id=thread-1-1>
                                    <div class="row" >
                                        <div class="col-12 " >
                                            <!--  未開始 暫停中 執行中 無排程 -->   
                                            <span>執行狀態:<span id='thread-operating-status-1'></span></span>
                                            <br>
                                            <span>當前URL: <a class='thread-URL' href="" id=thread-URL-1></a>
                                            </span>
                                            <br>
                                        </div>
                                        <div class="col-6" >
                                            <span>當前IP:<span class='thread-ip'  id='thread-ip-1'></span></span>
                                            <br>
                                            <span>當前深度:<span class='thread-level' id='thread-level-1'></span></span>
                                            <br>
                                            <span>當前速率:<span class='thread-speed' id='thread-speed-1'></span></span>
                                            <br>
                                            <span>經過時間:<span class='thread-passtime' id='thread-passtime-1'></span></span>
                                            <br>
                                        </div>
                                        <div class="col-6 " >
                                            <span>已爬取:<span class='thread-totalfetchcnt' id='thread-totalfetchcnt-1'></span></span>
                                            <br>                                        
                                            <span>佇列剩餘:<span class='thread-queuecnt' id='thread-queuecnt-1'></span></span>
                                            <br>                                    
                                            <span>成功數:<span class='thread-successcnt' id='thread-successcnt-1'></span></span>
                                            <br>
                                            <span>失敗數:<span class='thread-failcnt' id='thread-failcnt-1'></span></span>
                                            <br>
                                            <span>重複URL數:<span class='thread-redundancyURLcnt' id='thread-redundancyURLcnt-1'></span></span>
                                            <br>
                                        </div>
                                        <div class="col-12" >

                                            <button type="button" class="thread-btn btn btn-outline-success threadrun">開始</button>
                                            <button type="button" class="thread-btn btn btn-outline-danger threaddelete">結束</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 inactive" id=thread-1-2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12" id="thread-console-1" >
                    <div class="card card-chart">
                        <div class="card-header ">
                          <div class="row">
                            <div class="col-sm-6 text-left">
                                <h7 class="card-category">工作檢視</h5>
                                <h4 class="card-title">執行續2</h2>
                            </div>
                            <div class="col-sm-6">
                                <script>
                                    $(function(){
                                        $("input[name='threadcon2']").change(function(){
                                            var s = $("input[name='threadcon2']:checked").val();
                                            if(s==1){
                                                document.querySelector('#thread-2-1').classList.remove('inactive');
                                                document.querySelector('#thread-2-2').classList.add('inactive');
                                            }
                                            else if(s==2){
                                                document.querySelector('#thread-2-1').classList.add('inactive');
                                                document.querySelector('#thread-2-2').classList.remove('inactive');
                                            }
                                        });
                                    })
                                </script>
                                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                    <label class="btn btn-sm btn-primary btn-simple active">
                                        <input type="radio" name="threadcon2"  value="1" autocomplete="off" checked>
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">狀態</span>
                                        <span class="d-block d-sm-none">
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple">
                                        <input type="radio" name="threadcon2"  value="2" autocomplete="off">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">排程</span>
                                        <span class="d-block d-sm-none">
                                    </label>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-body main-ctrl " id="thread-2-screen" style=" overflow-x:auto;">
                            <div class="row" >
                                <div class="col-12 " id=thread-2-1>
                                    <div class="row" >
                                        <div class="col-12 " >
                                            <!--  未開始 暫停中 執行中 無排程 -->   
                                            <span>執行狀態:<span id='thread-operating-status-2'></span></span>
                                            <br>
                                            <span>當前URL: <a class='thread-URL' href="" ></a>
                                            </span>
                                            <br>
                                        </div>
                                        <div class="col-6" >
                                            <span>當前IP:<span class='thread-ip'  ></span></span>
                                            <br>
                                            <span>當前深度:<span class='thread-level' ></span></span>
                                            <br>
                                            <span>當前速率:<span class='thread-speed' ></span></span>
                                            <br>
                                            <span>經過時間:<span class='thread-passtime'></span></span>
                                            <br>
                                        </div>
                                        <div class="col-6 " >
                                            <span>已爬取:<span class='thread-totalfetchcnt' ></span></span>
                                            <br>                                        
                                            <span>佇列剩餘:<span class='thread-queuecnt'></span></span>
                                            <br>                                    
                                            <span>成功數:<span class='thread-successcnt' ></span></span>
                                            <br>
                                            <span>失敗數:<span class='thread-failcnt' ></span></span>
                                            <br>
                                            <span>重複URL數:<span class='thread-redundancyURLcnt' ></span></span>
                                            <br>
                                        </div>
                                        <div class="col-12" >
                                            <button type="button" class="thread-btn btn btn-outline-success threadrun">開始</button>
                                            <button type="button" class="thread-btn btn btn-outline-danger threaddelete">結束</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 inactive" id=thread-2-2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12" id="thread-console-3" >
                    <div class="card card-chart">
                        <div class="card-header ">
                          <div class="row">
                            <div class="col-sm-6 text-left">
                                <h7 class="card-category">工作檢視</h5>
                                <h4 class="card-title">執行續3</h2>
                            </div>
                            <div class="col-sm-6">
                                <script>
                                    $(function(){
                                        $("input[name='threadcon3']").change(function(){
                                            var s = $("input[name='threadcon3']:checked").val();
                                            if(s==1){
                                                document.querySelector('#thread-3-1').classList.remove('inactive');
                                                document.querySelector('#thread-3-2').classList.add('inactive');
                                            }
                                            else if(s==2){
                                                document.querySelector('#thread-3-1').classList.add('inactive');
                                                document.querySelector('#thread-3-2').classList.remove('inactive');
                                            }
                                        });
                                    })
                                </script>
                                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                    <label class="btn btn-sm btn-primary btn-simple active">
                                        <input type="radio" name="threadcon3"  value="1" autocomplete="off" checked>
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">狀態</span>
                                        <span class="d-block d-sm-none">
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple">
                                        <input type="radio" name="threadcon3"  value="2" autocomplete="off">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">排程</span>
                                        <span class="d-block d-sm-none">
                                    </label>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-body main-ctrl " id="thread-3-screen" style=" overflow-x:auto;">
                            <div class="row" >
                                <div class="col-12 " id=thread-3-1>
                                    <div class="row" >
                                        <div class="col-12 " >
                                            <!--  未開始 暫停中 執行中 無排程 -->   
                                            <span>執行狀態:<span id='thread-operating-status-3'></span></span>
                                            <br>
                                            <span>當前URL: <a class='thread-URL' href="" ></a>
                                            </span>
                                            <br>
                                        </div>
                                        <div class="col-6" >
                                            <span>當前IP:<span class='thread-ip'  ></span></span>
                                            <br>
                                            <span>當前深度:<span class='thread-level' ></span></span>
                                            <br>
                                            <span>當前速率:<span class='thread-speed' ></span></span>
                                            <br>
                                            <span>經過時間:<span class='thread-passtime'></span></span>
                                            <br>
                                        </div>
                                        <div class="col-6 " >
                                            <span>已爬取:<span class='thread-totalfetchcnt' ></span></span>
                                            <br>                                        
                                            <span>佇列剩餘:<span class='thread-queuecnt'></span></span>
                                            <br>                                    
                                            <span>成功數:<span class='thread-successcnt' ></span></span>
                                            <br>
                                            <span>失敗數:<span class='thread-failcnt' ></span></span>
                                            <br>
                                            <span>重複URL數:<span class='thread-redundancyURLcnt' ></span></span>
                                            <br>
                                        </div>
                                        <div class="col-12" >
                                            <button type="button" class="thread-btn btn btn-outline-success threadrun">開始</button>
                                            <button type="button" class="thread-btn btn btn-outline-danger threaddelete">結束</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 inactive" id=thread-3-2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12" id="thread-console-1" >
                    <div class="card card-chart">
                        <div class="card-header ">
                          <div class="row">
                            <div class="col-sm-6 text-left">
                                <h7 class="card-category">工作檢視</h5>
                                <h4 class="card-title">執行續4</h2>
                            </div>
                            <div class="col-sm-6">
                                <script>
                                    $(function(){
                                        $("input[name='threadcon4']").change(function(){
                                            var s = $("input[name='threadcon4']:checked").val();
                                            if(s==1){
                                                document.querySelector('#thread-4-1').classList.remove('inactive');
                                                document.querySelector('#thread-4-2').classList.add('inactive');
                                            }
                                            else if(s==2){
                                                document.querySelector('#thread-4-1').classList.add('inactive');
                                                document.querySelector('#thread-4-2').classList.remove('inactive');
                                            }
                                        });
                                    })
                                </script>
                                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                    <label class="btn btn-sm btn-primary btn-simple active">
                                        <input type="radio" name="threadcon4"  value="1" autocomplete="off" checked>
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">狀態</span>
                                        <span class="d-block d-sm-none">
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple">
                                        <input type="radio" name="threadcon4"  value="2" autocomplete="off">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">排程</span>
                                        <span class="d-block d-sm-none">
                                    </label>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-body main-ctrl " id="thread-4-screen" style=" overflow-x:auto;">
                            <div class="row" >
                                <div class="col-12 " id=thread-2-1>
                                    <div class="row" >
                                        <div class="col-12 " >
                                            <!--  未開始 暫停中 執行中 無排程 -->   
                                            <span>執行狀態:<span id='thread-operating-status-4'></span></span>
                                            <br>
                                            <span>當前URL: <a class='thread-URL' href="" ></a>
                                            </span>
                                            <br>
                                        </div>
                                        <div class="col-6" >
                                            <span>當前IP:<span class='thread-ip'  ></span></span>
                                            <br>
                                            <span>當前深度:<span class='thread-level' ></span></span>
                                            <br>
                                            <span>當前速率:<span class='thread-speed' ></span></span>
                                            <br>
                                            <span>經過時間:<span class='thread-passtime'></span></span>
                                            <br>
                                        </div>
                                        <div class="col-6 " >
                                            <span>已爬取:<span class='thread-totalfetchcnt' ></span></span>
                                            <br>                                        
                                            <span>佇列剩餘:<span class='thread-queuecnt'></span></span>
                                            <br>                                    
                                            <span>成功數:<span class='thread-successcnt' ></span></span>
                                            <br>
                                            <span>失敗數:<span class='thread-failcnt' ></span></span>
                                            <br>
                                            <span>重複URL數:<span class='thread-redundancyURLcnt' ></span></span>
                                            <br>
                                        </div>
                                        <div class="col-12" >
                                            <button type="button" class="thread-btn btn btn-outline-success threadrun">開始</button>
                                            <button type="button" class="thread-btn btn btn-outline-danger threaddelete">結束</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 inactive" id=thread-4-2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </body>
    <script type="text/javascript">
        var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/')
        var threadruns=document.querySelectorAll('.threadrun')
        var threaddeletes=document.querySelectorAll('.threaddelete')

        threadruns[0].addEventListener("click", function(event){
            chatSocket.send(JSON.stringify({
                'URL' : '',
                'Level' : '',
                'Wait' : '',
                'Num' : 1,
                'State' : 'run'
            }));        
        })
        threadruns[1].addEventListener("click", function(event){
            chatSocket.send(JSON.stringify({
                'URL' : '',
                'Level' : '',
                'Wait' : '',
                'Num' : 2,
                'State' : 'run'
            }));        
        })
        threadruns[2].addEventListener("click", function(event){
            chatSocket.send(JSON.stringify({
                'URL' : '',
                'Level' : '',
                'Wait' : '',
                'Num' : 3,
                'State' : 'run'
            }));        
        })
        threadruns[3].addEventListener("click", function(event){
            chatSocket.send(JSON.stringify({
                'URL' : '',
                'Level' : '',
                'Wait' : '',
                'Num' : 4,
                'State' : 'run'
            }));        
        })

        threaddeletes[0].addEventListener("click", function(event){
            chatSocket.send(JSON.stringify({
                'URL' : '',
                'Level' : '',
                'Wait' : '',
                'Num' : 1,
                'State' : 'delete'
            }));        
        })
        threaddeletes[1].addEventListener("click", function(event){
            chatSocket.send(JSON.stringify({
                'URL' : '',
                'Level' : '',
                'Wait' : '',
                'Num' : 2,
                'State' : 'delete'
            }));        
        })
        threaddeletes[2].addEventListener("click", function(event){
            chatSocket.send(JSON.stringify({
                'URL' : '',
                'Level' : '',
                'Wait' : '',
                'Num' : 3,
                'State' : 'delete'
            }));        
        })
        threaddeletes[3].addEventListener("click", function(event){
            chatSocket.send(JSON.stringify({
                'URL' : '',
                'Level' : '',
                'Wait' : '',
                'Num' : 4,
                'State' : 'delete'
            }));        
        })
        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            console.log(message);
          };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
          };

        document.getElementById("addwork")
            .addEventListener("click", function(event) {
            console.log(document.getElementById("URL").value)
            console.log(document.getElementById("Level").value)
            console.log(document.getElementById("Wait").value)
            console.log(document.getElementById("Num").value)
            e = document.getElementById("newthread-state")
            console.log(e.options[e.selectedIndex].value)
            chatSocket.send(JSON.stringify({
                'URL' : document.getElementById("URL").value,
                'Level' : document.getElementById("Level").value,
                'Wait' : document.getElementById("Wait").value,
                'Num' : document.getElementById("Num").value,
                'State' : e.options[e.selectedIndex].value
            }));
        });
    </script>
</html>
