<!DOCTYPE html>
<html>
    <head>
        <title>Search Web</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/index-style.css' %}"/>
        <script src="{% static 'js/index.js' %}" defer></script>
    </head>
    <body>
        <button onclick="window.location.href='/dashboard'">主控台</button>
        <div class="NonDisplay">{{searchText}}</div>
        <div class="NonDisplay-Page">{{page}}</div>
        <div class="center">
            <input type="text" name="search" value="" id="id_of_textbox">
            <input type="button" name="searchBtn" value="search" id="id_of_button">
        </div>

        <div class="flex" id="resultHtml"></div>
        <div class="page flipInX"></div>
    </body>
